html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #143d52;
}

h1 {
  color: #FFF;
  font-family: monospace, sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin: 10px;
}